<<<<<<< HEAD
%body.chat-box

 %div.flash-box
  %h1
  グループを作成しました

 %div.side-box
  %div.side-header
=======
.chat-box

 .flash-box
  %h1
  グループを作成しました

 .side-box
  .side-header
>>>>>>> master
   %p.side-header__user-name
    LOGIN-NAME
   %i.fa.fa-cog
   %i.fa.fa-edit

<<<<<<< HEAD
  %div.side-groups
   %div.side-group
    %p.side-group__name Group-Name
    %p.side-group__message Message


 %div.main-box
  %div.main-header
   %div.current-group
    %h2.current-group__name Group-Name
    %h3.member-list Member : name
   %div.main-header__edit-btn
    Edit

  %div.main-messages
   %div.main-message
    %div.upper-info
     %p.upper-info__user name
     %p.upper-info__date 2020/01/01(Sun) 15:00:00
    %p.message-text Hello
   %div.main-message
    %div.upper-info
     %p.upper-info__user name2
     %p.upper-info__date 2020/01/01(Sun) 16:00:00
    %p.message-text Good Night
  
  %div.form 
   %div.input-box 
    %div.input-message type a messegae
    %i.fa.fa-image
   %input{:type => "submit",:value => "Send"}
=======
  .side-groups
   = render partial: "group"

 .main-box
  .main-header
   .current-group
    %h2.current-group__name Group-Name
    %h3.member-list Member : name
   .main-header__edit-btn
    Edit

  .main-messages
   .main-message
    =render partial:"info"
    =render partial:"message"
   .main-message
    =render partial:"info"
    =render partial:"message"
  
  .form 
   .input-box 
    .input-message type a messegae
    %i.fa.fa-image
   %input{type: "submit",value: "Send"}
   
>>>>>>> master
