
.chat-box{
  background-color:$white-color;
  height:100%;
  margin:0;
  padding:0;
  width:100vw;
}

.side-box{
  width: 300px;
  height:100%;
  float:left; 

  .side-header{
    background-color:#253141; 
    height:100px;
    width:100%;
    margin-top:0;
    
    &__user-name{
    margin:0;
    padding-left:20px;
    font-weight:bold;
    color:$white-color;
    line-height: 100px;
    float:left;
    position: absolute;
    }
    .icon{
      color:$white-color;
      display:inline-block;
      float:right;
      position: relative;
       top:43px;
       right:20px;   
    }
   }

  .side-groups{
   background-color:#2f3e51;
   padding:20px 20px 0;
   height:calc(100vh - 100px);

   .side-group{
     .group-link{
       text-decoration:none;
     }
      &__name{
        font-size:15px;
        margin-bottom:5px;
        font-weight:normal;
        color:$white;
      }
      &__message{
        font-size:11px;
        font-weight:normal;
        margin-bottom:40px;
        color:$white;
      }
    }
  }
}


.main-box{
  width:calc(100vw - 300px);
  float:left;

  .main-header{
    height:100px;
    padding:0 40px;
    box-sizing: border-box;
    border-bottom: solid 1px #eee;

    .current-group{
     font-size:20px;
     color:#333;
     margin-top:35px;
     float:left;
    
     &__name{
      font-size:100%;
      font-weight:normal;
     }
     .member-list{
      margin-top:15px;
      font-size:12px;
      color:#999;
     }
    }

   &__edit-btn{
     height:40px;
     line-height:40px;
     padding:0 20px;
     margin-top:28px;
     border:1px solid $light_blue;
     color:$light_blue;
     float:right;
    }
  }
  
  .main-messages{
   height:calc(100vh - 190px);
   padding-left:40px;
   background-color:$white-color;
   position:relative;
   .main-message{
    padding-top:46px;
    padding-bottom:40px;
    
     .upper-info{
      margin-bottom:30px;
      &__user{
      color:#434a54;
      font-size:16px;
      font-weight:bold;
      float:left;
      }
      &__date{
      color:#999;
      font-size:12px;
      margin-left:10px;
      float:left;
      }
    } 
    .message-text{
    color:#434a54;
    font-size:12px;
   }
  }
 }

 .form{
   height:90px;
   width:calc(100vw - 300px);
   padding:20px 40px;
   background-color:#ddd;
   position: absolute;
   bottom:0;
   .input-box{
    height:50px;
    width:850px;
    background-color:#fff;
    padding:20px 10px 20px 40px;
    float:left;
    .input-message{
     font-size:16px;
     line-height: 50px;
     color:#434a54;
     float:left;
    }

    .fa{
      font-size:1.5em;
      display:inline-block;
      float:right;
      position: relative;
       top:10px;
       right:15px;
    }
   }
   input{
     height:50px;
     line-height:50px;
     padding:0 30px;
     margin-left:15px;
     background-color:$light_blue;
     color:$white-color;
     float:right;
     position:relative;
      top:20px;
      right:80px;
    }
  }
}
